@{
    ViewData["Title"] = "Home Page";
}


<style>

    body {
        font-family: Arial, Helvetica, sans-serif;
        background-image: url('../lib/bg10.jpg');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        margin: auto;
    }

    section {
        padding: 2rem 0;
    }

    img {
        display: block;
        max-width: 100%;
    }

    h2 {
        font-family: Arial, Helvetica, sans-serif;
        line-height: 1.2;
        font-weight: 700;
    }

    p {
        font-size: 0.875rem;
        line-height: 1.5;
    }

    .corpo {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    /* SERVIÇOS */

    .servicos-home {
       width: 100%;
       text-align: center;
       background-color: rgba(0,0,0,.2);
       color: #fff;
       margin: 50px;
       margin-left: 0;
       padding: 10px;
       padding-left: 0;
       border-radius: 15px 50px;
    }

    .servicos-lista {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
        text-align: left;
        padding: 1rem 0;
    }

        .servicos-lista li {
            display: grid;
            grid-template-columns: auto minmax(200px, 1fr);
            gap: 1rem;
            align-items: center;
        }

        .servicos-lista img {
            border-radius: 10%;
            box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
            cursor: pointer;
        }

        .servicos-lista h2 {
            font-size: 1.125rem;
            margin-bottom: 1rem;
            color: 	#ADFF2F;
            text-transform: uppercase;
        }

        .servicos-lista p {
            font-size: 1rem;
            line-height: 1;
        }

    html {
        scroll-behavior: smooth;
    }


      .main {

      margin-top: 0;
      width: 100%;
      height: 500px;
      color: #006400;
      text-align: left;
      display: flex;
      align-items: center;
      font-family: "Segoe UI", Arial, sans-serif;

    }

    .main h1 {
      font-size: 5.25rem;
      text-transform: uppercase;
    }

    .main h3 {
      font-size: 2.125rem;
      font-style: italic;
    }

    </style>

<link href="/css/style.css" rel="stylesheet" />


<main class="main">
    <div>
        <h1>Mundo Veg</h1>
        <h3>Consumo consciente</h3>
    </div>
</main>


<section class="servicos-home">
    <div class="corpo">
        <ul class="servicos-lista">
            <li>
                <a href="http://daianecampos-001-site1.itempurl.com/Receitas">
                <img src="/lib/receitas.jpg" alt="Aluna">
                </a>
                <div class="box">
                    <h2>Receitas</h2>
                    <p>Encontre seu próximo prato!</p>
                </div>                
            </li>       
            <li>
                <a href="http://daianecampos-001-site1.itempurl.com/UsuarioPjs">
                <img src="/lib/restaurantes.jpg" alt="Aluno">
                </a>
                <div class="box">
                    <h2>Estabelecimentos</h2>
                    <p>Alimentação saudável sem sair de casa!</p>
                </div>
            </li>
            <li>
                <a href="http://daianecampos-001-site1.itempurl.com/Produtos">
                <img src="/lib/mercado.jpg" alt="Aluna">
                </a>
                <div class="box">
                    <h2>Mercado</h2>
                    <p>Aqui tem o que você procura!</p>
                </div>
            </li>

        </ul>
    </div>
</section>